<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylee.css' %}">
</head>
<body>
    <div class="header">
        <h1 style="color: white;" >Welcome , {{user.first_name}}</h1>
        <div style="display: flex;
        width:20%;
        align-items: center;
        justify-content: space-around;">
            
            <a href="/" style="text-align: center; height: 50%;">log out</a>
        </div>
        
    </div><br>
    <div class="container">
       
            <div style="width: 80%; height: 60%; margin-left: 10%;">
                <h1>{{book.title}}</h1>
                <table>
                <tr>
                    <td><label for="">Added By : </label></td>
                    <td>  <p>{{book.uploaded_py.first_name}}</p></td>
                </tr>
                <tr>
                    <td>  <label for="">Added On :  </label></td>
                    <td> <p>{{book.created_at}}</p></td>
                </tr>
                <tr>
                    <td>  <label for="">Last Update On :</label></td>
                    <td> <p>{{book.updated_at}}</p></td>
                </tr>
                <tr>
                    <td>  <label for="desc">Description: </label></td>
                    <label>{{book.desc}}</label></tr>
                
                

            </table>

                
            </div>
       
        <div>
            <h2>People Who Likes This Book :</h2>
            <ul>
            {%for user in book.users_who_likes.all %}
            <li>{{user.first_name}}-{{user.last_name}}</li>
            {%endfor%}
            </ul>
            {%if book in user.liked_books.all %}
            <p><a href="/removefav/{{user.id}}/{{book.id}}">un-favorites</a></p><br>
            {%else%}
            <p><a href="/addtofav/{{user.id}}/{{book.id}}">add to your favorites</a></p><br>            
            {%endif%}
        </div>
       
    </div>

    
</body>
</html>